
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
/.idea
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
###< symfony/webpack-encore-pack ###
