
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
#/vendor/
/.idea
/.vscode
**.yml~
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
###< symfony/webpack-encore-pack ###
