.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee;

  .nav-link {
    border-radius: 0;
  }

  #user-menu {
    .nav-link {
      padding-left: 2.75em;
    }
  }
}